<div class="page-header d-md-flex justify-content-between">
  <div>
    <h3>Users</h3>
    <nav aria-label="breadcrumb" class="d-flex align-items-start">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a
            routerLink="/"
            [ngClass]="{ 'bg-danger': isEdit, 'bg-primary': !isEdit }"
            >Items Management</a
          >
        </li>
      </ol>
    </nav>
  </div>
  <div class="mt-2 mt-md-0">
    <a
      href="#"
      class="btn btn-success"
      data-toggle="modal"
      data-target="#mdlNew"
      title="Add new item"
      >Add new item</a
    >
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table id="user-list" class="table table-lg">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Sizes</th>
                <th class="text-right">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of allItems">
                <td>{{ item.id }}</td>
                <td>
                  <a href="#">
                    <figure class="avatar avatar-sm mr-2">
                      <img
                        src="{{ item.imageUrl }}"
                        class="rounded-circle"
                        alt="avatar"
                      />
                    </figure>
                    {{ item.name }}
                  </a>
                </td>
                <td>{{ item.price }} BHD</td>
                <td>{{ item.prices.length }}</td>
                <td class="text-right">
                  <div class="dropdown">
                    <a
                      href="#"
                      data-toggle="dropdown"
                      class="btn btn-floating"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <i class="ti-more-alt"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a
                        data-toggle="modal"
                        data-target="#mdlNew"
                        class="dropdown-item text-success"
                        (click)="editItem(item)"
                        >Edit</a
                      >
                      <a
                        (click)="delteItem(item.id)"
                        class="dropdown-item text-danger"
                        style="cursor: pointer"
                        >Delete</a
                      >
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  id="mdlNew"
  class="modal fade modal-item"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
  data-backdrop="static"
  data-keyboard="false"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">Add new item</h6>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="clearForm()"
        >
          <i class="ti-close"></i>
        </button>
      </div>
      <!-- (ngSubmit)="formSubmit()" -->
      <form id="frmItem" [formGroup]="itemForm" enctype="multipart/form-data">
        <div class="modal-body">
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label>Item Name</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="name"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label>Price</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="price"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label>Picture</label>
                <input
                  type="file"
                  palceholder="Select image"
                  class="form-control"
                  accept="image/png, image/jpeg"
                  formControlName="imageUrl"
                  (change)="uploadPic($event.target)"
                />
              </div>
            </div>
          </div>
          <!-- <pre>
            {{ this.itemForm.value | json }}
          </pre> -->
          <div
            formArrayName="Prices"
            *ngFor="let group of Prices.controls; let i = index"
          >
            <div class="row border-danger" for="sizes" [formGroupName]="i">
              <div class="col-5">
                <div class="form-group">
                  <label>Size Name</label>
                  <input
                    type="text"
                    class="form-control sname"
                    formControlName="sizeName"
                  />
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label>Size Price</label>
                  <input
                    type="text"
                    class="form-control sprice"
                    formControlName="sizePrice"
                  />
                </div>
              </div>
              <div class="col-3">
                <div class="form-group" style="margin-top: 17%">
                  <!--  -->
                  <!-- href="Javascript:void(0);"  -->
                  <a
                    class="btn btn-success add-size"
                    (click)="addNewPrice()"
                    *ngIf="i == 0"
                    >Add</a
                  >
                  <a
                    class="btn btn-success remove-size btn-danger"
                    (click)="removeContact(i)"
                    >Remove</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
            (click)="clearForm()"
          >
            Close
          </button>
          <button
            id="hideMdl"
            type="submit"
            id="btnSaveHours"
            class="btn btn-primary"
            title="Save"
            class="btn btn-secondary"
            data-dismiss="modal"
            (click)="formSubmit()"
          >
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
